<table class="table table-bordered">
  <thead>
      <tr>
          <th scope="col">City</th>
          <th scope="col">Street Address</th>
          <th scope="col">Phone</th>
         

      </tr>
  </thead>
  <tbody>
    <tr>
       <td>{{City}}</td>
       <td>{{StreetAddress}}</td>
       <td>{{Phone}}</td>
    



        <td>
            <button  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
            <button  class="btn btn-danger mx-3">Delete</button>
            
        </td>
    </tr>
</tbody>
</table>

